
    #color-palette{
        border: 1px solid black;
        width: 4;
        height: 105px;
        display: inline-block;
    }
    .color{
        font-size: 2px;
        border: 1px solid black;
        width: 100px;
        height: 100px;
        display: inline-block;
    }

    #preta{
        background-color: black;
        border: 1px solid black;
    }
    #verde{
        background-color: green;
        border: 1px solid black;
    }
    #azul{
        background-color: blue;
        border: 1px solid black;
    }
    #amarelo{
        background-color: yellow;
        border: 1px solid black;
    }
    #pixel-board{
        width: 250px;
    }
    .pixel{
        background-color: white;
        border: 1px solid black;
        height: 40px;
        width:40px;
        display: inline-block;
    }